html, body {
  margin: 0;
  padding: 0;
  background-color: #070617;
}

.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}

/* FOOTER STYLES */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}

.contain {
  box-sizing: border-box;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
}

.footer .col {
  width: 190px;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  float: none;
}

.footer .col h1 {
  font-size: 12px;
  padding: 20px 0px 5px 0px;
  color: #ff2929c2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.2s;
}

.footer .col ul li:hover {
  color: #ffffff;
}

.social ul li {
  display: inline-block;
  padding-right: 5px;
}

.social ul li img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 5px;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
