/* resources/css/home-page.css */

/* Hero section */
.hero-section {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    /* Quitamos el font-size de aquí para usar el de Tailwind en el componente */
    font-weight: 600;
    color: #f1f1f1;
    letter-spacing: 0.03em;
}

.title-sub {
    font-weight: 600;
    color: #f1f1f1;
    letter-spacing: 0.03em;
}

/* About section - LIMPIO DE COLORES */
.about-section {
    /* Eliminamos background-color: #6e5354; para que mande Tailwind */
    padding-left: 10%;
    padding-right: 10%;
}

.headingBig {
    font-weight: 700;
}
