/* 11 */
.btn-11 {
  border: none;
  border-radius: 10px;
  background: linear-gradient(115deg, rgb(240, 42, 52) 40%, rgb(243, 135, 33) 100%);
    background: linear-gradient(115deg, rgb(240, 42, 52) 40%, rgb(243, 135, 33) 100%);
    color: black;
    font-weight: 500;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: black;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

/* 12 */
.btn-12 {
  border: none;
  background: rgb(233, 47, 57);
    color: #fff;
    font-weight: 400;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    letter-spacing: 0.05em;
    border: 1px solid #fff;  
    
    transition: all 0.3s ease;  
}

.btn-12:hover {
        text-decoration: none;
        color: black;
        background: #fff;
        transition: all 0.3s ease;
}

.btn-12:hover:after {
        left: 0;
        transition: all 0.3s ease;
}

/* 13 */
.btn-13 {
  border: none;
  background: #0f1923;
    color: #e6e6e6;
    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    letter-spacing: 0.05em;
    
    transition: all 0.3s ease;  
}

.btn-13:hover {
        text-decoration: none;
        color: black;
        background: #fff;
        transition: all 0.3s ease;
}

.btn-13:hover:after {
        left: 0;
        transition: all 0.3s ease;
}
